[Desktop Entry]
Type=Application
Name=StationConnect
Comment=Connect to a StationConnect workstation
Exec=moonlight
Icon=stationconnect-logo
Terminal=false
Categories=Network;RemoteAccess;
StartupNotify=true
StartupWMClass=la.instinctual.StationConnect
