[Desktop Entry]
Type=Application
Name=StationConnect Client
Comment=Connect to a StationConnect workstation
Exec=stationconnect-client
Icon=stationconnect-client
Terminal=false
Categories=Network;RemoteAccess;
StartupNotify=true
StartupWMClass=la.instinctual.StationConnect.Client
